.app_container {
  background-image: url("./assets/images/clear_sky.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 3rem;
  
  color: #fff;
}
